@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--background-image: url('https://i.yapx.ru/WLSWF.png');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center center;
  --popout-modal-image: url('https://i.yapx.ru/WLSiZ.png');
  --popout-modal-blur: 0.7px;
  --popout-modal-size: cover;
  --popout-modal-position: center center;
  --home-button-image: url('https://i.yapx.ru/WLSBH.png');
  --home-button-size: cover;
  --home-button-position: center center;
  --serverlist-brightness: 0.7;
  --left-brightness: 0.7;
  --middle-brightness: 0.7;
  --right-brightness: 0;
  --popout-modal-brightness: 0.7;
  --gradient-primary: 0,0,0,0.8;
  --gradient-secondary: 255,255,255,0.5;
  --scrollbar-colour: rgba(255, 255, 255, 0.185);
  --link-colour: #969696;
  --gradient-direction: 0deg;
  --tint-colour: 255,255,255;
  --tint-brightness: 0;
  --font: 'Whitneys';
  --window-padding: 5px;
  --window-roundness: 23px;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
  --HSL-server-icon-size: 41px;
  --HSL-server-spacing: 20px;
  --rs-small-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-width: 3px;
  --rs-avatar-shape: 30%;
  --rs-online-color: #ffffff;
  --rs-idle-color: #ffa467;
  --rs-dnd-color: #ff0000;
  --rs-offline-color: #404040;
  --rs-streaming-color: #ffc400;
  --rs-invisible-color: #000000;
}