/**
 * @name Rimuru Tempest
 * @author Systemd
 * @version auto updates
 * @description Theme was created in generator https://vsthemes.org/generator/
 * @source https://vsthemes.org/en/skins/discord/30233-rimuru-tempest.html
 * @authorLink https://vsthemes.org/user/Systemd/
 * @authorId 2
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 0,0,0;
    --transparencyalpha: 0.1;
    --messagetransparency: 0.5;
    --guildchanneltransparency: 0.5;
    --memberlistransparency: 0.5;
    --accentcolor: 65,158,219;
    --background: url("https://vsthemes.org/uploads/posts/2021-04/1617267507_thumb-1920-1000479.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}